<div class="genInfoTitle">General Information</div>
<div class="genInfo">
    <%= general1 %> <br> <br>
    <%= general2 %> <br> <br>
    <%= general3 %> <br> <br>
    <%= general4 %> <br> <br>
    <%= general5 %>
</div>