<div class="pic">
    <img src="<%= imageURL %>" alt="<%= alt %>"> 
    <li class="heightweight">Male Height: <%= maleHeight %></li>
    <li class="heightweight">Male Weight: <%= maleWeight %></li>
    <li class="heightweight">Female Height: <%= femaleHeight %></li>
    <li class="heightweight">Female Weight: <%= femaleWeight %></li>
</div>