<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/mile' ? 'active' : '' %>" href="/milk">Milk</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/meat' ? 'active' : '' %>" href="/meat">Meat</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/sports' ? 'active' : '' %>" href="/sports">Sports</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/hide' ? 'active' : '' %>" href="/hide">Hide
                </a>
            </li>
        </ul>
    </nav>
</header>