<div class="getCitation">
    <div class="row">
        <% if (source1 != "") { %>
            <div>[1] &nbsp; <%= source1 %></div>
        <% } %>
    
        <% if (source2 != "") { %>
            <div>[2] &nbsp; <%= source2 %></div>
        <% } %>
    
        <% if (source3 != "") { %>
            <div>[3] &nbsp; <%= source3 %></div>
        <% } %>
    
        <% if (source4 != "") { %>
            <div>[4] &nbsp; <%= source4 %></div>
        <% } %>

        <% if (source5 != "") { %>
            <div>[5] &nbsp; <%= source5 %></div>
        <% } %>

        <% if (source6 != "") { %>
            <div>[6] &nbsp; <%= source6 %></div>
        <% } %>

        <% if (source7 != "") { %>
            <div>[7] &nbsp; <%= source7 %></div>
        <% } %>

        <% if (source8 != "") { %>
            <div>[8] &nbsp; <%= source8 %></div>
        <% } %>

        <% if (source9 != "") { %>
            <div>[9] &nbsp; <%= source9 %></div>
        <% } %>

        <% if (source10 != "") { %>
            <div>[10] &nbsp; <%= source10 %></div>
        <% } %>

    </div>
    
</div>