<div class="pattern-title">Color Patterns</div>
<div class="pattern-list">
    <li class="getPattern"><%= pattern1 %></li>
    <li class="getPattern"><%= pattern2 %></li>
    <li class="getPattern"><%= pattern3 %></li>
    <li class="getPattern"><%= pattern4 %></li>
    <li class="getPattern"><%= pattern5 %></li>
</div>