<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="side"></div>
        <div class="cards-list">
            <%- include('cattleCards/beefCards/Aberdeen-Angus.ejs') %> 
            <%- include('cattleCards/milkCards/Ayrshire.ejs') %> 
            <%- include('cattleCards/beefCards/Aubrac.ejs') %> 
            <%- include('cattleCards/beefCards/Barzona.ejs') %> 
            <%- include('cattleCards/beefCards/Beef-Master.ejs') %> 
            <%- include('cattleCards/beefCards/Beef-Shorthorn.ejs') %> 
            <%- include('cattleCards/beefCards/Beefalo.ejs') %> 
            <%- include('cattleCards/beefCards/Belgian-Blue.ejs') %> 
            <%- include('cattleCards/beefCards/Belted-Galloway.ejs') %> 
            <%- include('cattleCards/beefCards/Blonde-d-Aquitaine.ejs') %> 
            <%- include('cattleCards/beefCards/Braford.ejs') %> 
            <%- include('cattleCards/beefCards/Brahman.ejs') %> 
            <%- include('cattleCards/beefCards/Brahmousin.ejs') %> 
            <%- include('cattleCards/beefCards/Brangus.ejs') %> 
            <%- include('cattleCards/milkCards/Brown-Swiss.ejs') %> 
            <%- include('cattleCards/beefCards/Buelingo.ejs') %> 
            <%- include('cattleCards/beefCards/Charolais.ejs') %> 
            <%- include('cattleCards/beefCards/Chianina.ejs') %> 
            <%- include('cattleCards/beefCards/Corriente.ejs') %> 
            <%- include('cattleCards/milkCards/Dairy-Shorthorn.ejs') %>
            <%- include('cattleCards/beefCards/Dexter.ejs') %> 
            <%- include('cattleCards/milkCards/Friesian.ejs') %>
            <%- include('cattleCards/beefCards/Gelbvieh.ejs') %> 
            <%- include('cattleCards/milkCards/Guernsey.ejs') %> 
            <%- include('cattleCards/beefCards/Hereford.ejs') %> 
            <%- include('cattleCards/beefCards/Highland.ejs') %>
            <%- include('cattleCards/milkCards/Holstein.ejs') %>
            <%- include('cattleCards/milkCards/Jersey.ejs') %>  
            <%- include('cattleCards/beefCards/Limousin.ejs') %> 
            <%- include('cattleCards/beefCards/Lincoln-Red.ejs') %> 
            <%- include('cattleCards/beefCards/Marchigiana.ejs') %> 
            <%- include('cattleCards/milkCards/Milking-Devon.ejs') %> 
            <%- include('cattleCards/beefCards/Murray-Grey.ejs') %> 
            <%- include('cattleCards/beefCards/Pinzgauer.ejs') %> 
            <%- include('cattleCards/beefCards/Red-Angus.ejs') %> 
            <%- include('cattleCards/beefCards/Red-Poll.ejs') %> 
            <%- include('cattleCards/beefCards/Romagnola.ejs') %>
            <%- include('cattleCards/beefCards/Santa-Gertrudis.ejs') %> 
            <%- include('cattleCards/beefCards/Senepol.ejs') %> 
            <%- include('cattleCards/beefCards/South-Devon.ejs') %> 
            <%- include('cattleCards/beefCards/Sussex.ejs') %> 
            <%- include('cattleCards/beefCards/Tarentaise.ejs') %> 
            <%- include('cattleCards/beefCards/Texas-Longhorn.ejs') %> 
            <%- include('cattleCards/beefCards/Wagyu.ejs') %> 
            <%- include('cattleCards/beefCards/Watusi.ejs') %> 
            <%- include('cattleCards/beefCards/Zebu.ejs') %> 
        </div>
        <div class="side"></div>
    </main>
<%- include('includes/end.ejs') %>