<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="side"></div>
        <div class="cards-list">
            <%- include('cattleCards/milkCards/Ayrshire.ejs') %> 
            <%- include('cattleCards/milkCards/Brown-Swiss.ejs') %> 
            <%- include('cattleCards/milkCards/Dairy-Shorthorn.ejs') %> 
            <%- include('cattleCards/milkCards/Dutch-Belted.ejs') %> 
            <%- include('cattleCards/milkCards/Friesian.ejs') %> 
            <%- include('cattleCards/milkCards/Guernsey.ejs') %> 
            <%- include('cattleCards/milkCards/Holstein.ejs') %> 
            <%- include('cattleCards/milkCards/Jersey.ejs') %> 
            <%- include('cattleCards/milkCards/Milking-Devon.ejs') %> 
            <%- include('cattleCards/milkCards/Montbeliarde.ejs') %> 
        </div>
        <div class="side"></div>
    </main>
<%- include('includes/end.ejs') %>